@import 'tailwindcss';

:root {
  --background: #040b1a;
  --primary: #18263c;
  --secondary: #5eedbe;
  --accent: #f59e0b;
  --error: #ef4444;
  --forground: #f3f4f6;
  --light: #f3f4f6;
  --dark: #111827;
  --gray: #6b7280;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--forground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-error: var(--error);
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-gray: var(--gray);
}

main {
  @apply flex flex-col min-h-screen text-foreground;
}

html {
  @apply bg-background;
}

main>section {
  @apply h-screen bg-gradient-to-bl from-dark via-secondary/40 to-dark;
}

main>section>section {
  @apply w-full p-3 overflow-y-auto;
}

main>section>section>h1 {
  @apply text-2xl font-bold p-3;
}